@media screen and (max-width: 1320px) {
	.cosmetic {
		padding-top     : 60px;
		padding-bottom  : 60px;
		background-image: none;
	}

	.maps__wrapper {
		height: 360px;
	}

	.instagram__grallery-wrapper {
		max-width   : 600px;
		margin-left : auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 1020px) {
	h3 {
		margin-bottom: 20px !important;
	}

	.face__cleaning,
	.price,
	.questions,
	.instagram__grallery,
	.cosmetic,
	.contacts {
		padding-top   : 30px;
		padding-bottom: 30px;
	}

	.header__text-wrapper {
		flex-direction: column !important;
	}

	.header__left-wrapper {
		order     : 2 !important;
		text-align: center;
	}

	.header__left-wrapper span p {
		justify-content: center;
	}

	.price,
	.instagram__grallery {
		padding-bottom: 50px;
	}

	.questions {
		padding-bottom: 0px !important;
	}

	.header__right-wrapper {
		order: 1 !important;
	}

	.face__cleaning {
		background-image: none;
	}

	.face__cleaning-wrapper {
		flex-direction: column;
		align-items   : left;
		margin-left   : auto;
		margin-right  : auto;
		width         : 300px;
	}

	.face__cleaning-left p {
		justify-content: flex-start;
	}

	.face__cleaning-pic {
		order        : 1;
		margin-bottom: 20px;
	}

	.face__cleaning-left {
		order: 2;
	}

	.face__cleaning-right {
		order: 3;
	}

	.face__circle-before {
		display: flex;
	}

	.face__circle-after {
		display: none;
	}

	.face__cleaning-text p {
		padding: 3px;
	}

	.questions__button-wrapper {
		display: block;
	}

	.maps__wrapper {
		height: 320px;
	}

	.contacts__wrapper {
		flex-wrap: wrap;
	}

	.contacts__item {
		flex-basis   : 50%;
		text-align   : center;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 750px) {
	h1 {
		font-size: 26px !important;
	}

	h3 {
		margin-bottom: 10px !important;
		font-size    : 16px !important;
	}

	.header__left-wrapper {
		text-align: left;
	}

	.header__pic img {
		width: 100%;
	}



	.header__left-wrapper span p {
		justify-content: flex-start;
	}

	.face__cleaning,
	.price,
	.questions,
	.instagram__grallery,
	.cosmetic,
	.contacts,
	.header__text-wrapper {
		padding-bottom: 20px;
		padding-top   : 20px;
	}

	.header__text-button,
	.price__reg-button,
	.instagram__grallery-button {
		display        : flex;
		justify-content: center;
		align-items    : center;
		margin-top     : 0;
	}

	.header__text-wrapper p {
		padding: 10px;
	}

	.price__row-name {
		grid-template-columns: 1fr;
	}

	.maps__wrapper {
		height: 220px;
	}

	.price__row-name,
	.price__table,
	.instagram__grid {
		margin-bottom: 20px;
	}

	.header__text-wrapper p:nth-child(6) {
		margin-bottom: 10px;
	}

	.instagram__grallery-button i {
		margin-right: 5px;
	}

	.contacts__wrapper {
		flex-direction: column;
	}

	.read__button-name {
		display        : flex;
		align-items    : center;
		justify-content: center;
		width          : 90%;
	}

	.instagram__grid {
		grid-auto-rows: 80px;
	}
}

@media screen and (max-width: 490px) {
	.instagram__grid {
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	}
}

@media screen and (max-width: 400px) {
	.instagram__grid {
		grid-auto-rows: 70px;
	}

	.header__left-wrapper span p,
	h1 {
		font-size: 24px !important;
	}

	.header__left-wrapper p {
		font-size: 16px;
	}

	.header__text-button,
	.price__reg-button,
	.instagram__grallery-button {
		font-size: 16px;
	}

	.questions__left-wrapper button,
	.questions__right-wrapper button {
		font-size: 16px;
	}
}