/* Hamburger style Header start */

@media screen and (max-width: 1020px) {
    body.lock {
        overflow: hidden;
    }

    .header__logo p {
        font-size: 44px;
    }

    .header__burger {
        display : block;
        width   : 30px;
        height  : 20px;
        position: absolute;
        right   : 0;
        top     : 60%;
        z-index : 50;
    }

    .header__burger:before,
    .header__burger::after {
        content   : " ";
        background: radial-gradient(circle, rgba(235, 175, 200, 1) 0%, rgba(191, 97, 97, 0.8715861344537815) 100%);
        position  : absolute;
        width     : 100%;
        height    : 2px;
        right     : 10px;
        bottom    : 25px;
        transition: all 0.3s ease 0s;
        z-index   : 50;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        position  : absolute;
        background: radial-gradient(circle, rgba(235, 175, 200, 1) 0%, rgba(191, 97, 97, 0.8715861344537815) 100%);
        right     : 10px;
        width     : 100%;
        height    : 2px;
        top       : 9px;
        transition: all 0.3s ease 0s;
    }

    .header__menu {
        position        : fixed;
        top             : -100%;
        left            : 0;
        width           : 100%;
        max-width       : 100%;
        height          : 100%;
        overflow        : auto;
        background-color: rgba(235, 175, 200, 0.8);
        transition      : all 0.3s ease 0s;
        z-index         : 40;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        position   : absolute;
        width      : 100%;
        top        : 50%;
        text-align : center;
        transform  : translate(0, -50%);
        display    : block;
        font-weight: 600;
    }

    .header__list li {
        margin: 0px 0px 40px 0px;
    }

    .header__link {
        position : relative;
        font-size: 28px;
        z-index  : 999;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top      : 9px;
        right    : 10px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom   : 9px;
        right    : 10px;
    }

    .header__burger.active span {
        transform: scale(0);
    }
}

@media screen and (max-width: 374px) {
    .header__link {
        font-size: 20px;
    }
}


/* Burger style Header end */